<% content_for :title, "Edit" %>
<% content_for :page_title, "Edit" %>

<% @project.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger container"><%= msg %></div>
<% end %>

<%= render "form", project: @project %>